[Unit]
Description=TopoNavi system
Requires=\
    toponavi-pymodule@camera.service \
    toponavi-pymodule@executor.service \
    toponavi-pyfile@MarkerDetector.service \
    toponavi-pyfile@Location.service \
    toponavi-pyfile@CentralControl.service \
    toponavi-pyfile@Map.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
