[Unit]
Description=TopoNavi system - %i
PartOf=toponavi.service

[Service]
WorkingDirectory=/home/pi/toponavi/%i
User=pi
ExecStart=/usr/bin/python3 -u %i.py
Restart=on-failure
RestartSec=1s
RuntimeDirectory=toponavi
